
.stRed{
    color: #e45649;
}
.stGreen{
    color: #50a14f;
}
.stGold-300{
    color: #c18401;
}
.stGold700{
    color: #986801;
}
.stBlue{
    color: #4078f2;
}
.stDark{
    color: #383a42;
}
.stViolet{
    color: #a626a4;
}

.darkString{
    
.stRed{
    color: #c5c8c6;
}
.stGreen{
    color: #a8ff60;
}
.stGold-300{
    color: #c18401;
}
.stGold700{
    color: #e8bd61;
}
.stBlue{
    color: #96cbfe;
}
.stDark{
    color: #d3d5de;
}
.stViolet{
    color: #d676d5;
}
}